body {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}

.nav {
  height: 500px;
  width: 500px;
  border: 1px solid #bdbbbb;
  border-radius: 3px;
  padding: 3rem;
  text-align: center;
  background-color: #bdbbbb;
  display: flex;
  align-items: center;
  justify-content: center;
}
